@import url('https://fonts.googleapis.com/css?family=Tajawal');
body { background: #1b1b1b; color: #c1c1c1; text-align: center; font-family: 'Tajawal', sans-serif; }
#profile { width:400px; margin-top: 100px; }
.rounded { border-radius: 50%; box-shadow: 0 0 100px #a1a1a1; border: 3px solid #111111; }
h1 { font-size: 3em; }
a { color: #c1c1c1; }
a:hover { text-decoration: none; }
p:last-child { margin-bottom: 100px; }
